*.yaml
!kind.yaml
tienda/tienda-express/node_modules
tienda/tienda-chaincode/node_modules
tienda/tienda-chaincode/dist
tienda/tienda-chaincode/chaincode.tgz
tienda/tienda-chaincode/code.tar.gz
tienda/tienda-chaincode/connection.json
tienda/tienda-chaincode/metadata.json
tienda/tienda-api/node_modules
tienda/tienda-api2/node_modules
tienda/tienda-api-v3/node_modules
tienda/tienda-api2/WALLETS
tienda/tienda-sol/privatekey.txt
tienda/tienda-sol/contract-details.json